@media screen and (max-width: 800px) {
  .margen {
    margin: 0px;
  }

  body {
    background: #332f29;
    margin: 0px;
  }

  header {
    background-color: #8fa68e;
    padding: 5px;
  }

  nav {
    background-color: #d3c15a;
    padding: 10px;
  }

  ul {
    list-style-type: none;
  }

  section {
    background-color: #f1f2c0;
    padding: 10px;
    border-top: 1px solid black;
  }

  aside {
    background-color: #e6e7ac;
    padding: 10px;
    border-top: 1px solid black;
  }
}
